# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# TonUINO
/tools/*.pyc

/.vs/TonUINO/v15/.suo
/__vm/.TonUINO.vsarduino.h
/__vm/Compile.vmps.xml
/__vm/Configuration.Debug.vmps.xml
/__vm/Configuration.Release.vmps.xml
/Tonuino.ino.orig
/TonUINO.vcxproj
/TonUINO.vcxproj.filters
/TonUINO.vcxproj.user
/.vscode/arduino.json
/.vscode/c_cpp_properties.json
